table,
td,
tr,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

td#cardWindow {
  text-align: center;
  padding: 40px;
}

td#progressBar {
  text-align: center;
}

td,
th {
  padding: 10px;
}